{% extends 'baseBack.html.twig' %}

{% block content %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            color: #566787;
            background: #f5f5f5;
            font-family: 'Varela Round', sans-serif;
            font-size: 13px;
        }
        .table-responsive {
            margin: 30px 0;
        }
        .table-wrapper {
            background: #fff;
            padding: 20px 25px;
            border-radius: 3px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        }
        .table-title {
            padding: 16px 30px;
            color: #fff;
            background: #299be4;
            margin: -20px -25px 10px;
            border-radius: 3px 3px 0 0;
        }
        .img-thumbnail {
            max-width: 150px;
            height: auto;
            border-radius: 4px;
            margin-top: 5px;
        }
        .qr-code {
            max-width: 100px;
            height: auto;
            margin-top: 5px;
        }
    </style>

    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <h1>Equipement Details</h1>
                </div>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ equipement.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ equipement.nom }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ equipement.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Image</th>
                        <td><img src="{{ asset('uploads/images/' ~ equipement.image) }}" alt="Equipement Image" class="img-thumbnail" style="width:300px; height:auto;"></td>
                    </tr>
                    <tr>
                        <th>Rating</th>
                        <td>{{ equipement.rating }}</td>
                    </tr>
                    <tr>
                        <th>Qrcode</th>
                        <td><img src="data:image/png;base64,{{ equipement.qrcode }}" alt="QR Code" class="qr-code"></td>
                    </tr>
                    </tbody>
                </table>

                <a href="{{ path('app_equipement_index') }}" class="btn btn-info">Back to list</a>
                <a href="{{ path('app_equipement_edit', {'id': equipement.id}) }}" class="btn btn-primary">Edit</a>
                {{ include('equipement/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
