{% extends 'base.html.twig' %}

{% block title %}Local{% endblock %}

{% block body %}
    <h1>Local</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ local.id }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ local.Adresse }}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ local.Capacite }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ local.categorie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_local_index') }}">back to list</a>

    <a href="{{ path('app_local_edit', {'id': local.id}) }}">edit</a>

    {{ include('local/_delete_form.html.twig') }}
{% endblock %}
