<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>List Users</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<style>
			body {
				color: #566787;
				background: #f5f5f5;
				font-family: 'Varela Round', sans-serif;
				font-size: 13px;
			}

			.table-responsive {
				margin: 30px 0;
			}

			.table-wrapper {
				min-width: 1000px;
				background: #fff;
				padding: 20px 25px;
				border-radius: 3px;
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
			}

			.table-title {
				padding: 16px 30px;
				background: #299be4;
				color: #fff;
				margin: -20px -25px 10px;
			}

			.table-title h2 {
				margin: 5px 0 0;
				font-size: 24px;
			}

			.table-title .btn {
				color: #566787;
				float: right;
				font-size: 13px;
				background: #fff;
				border: none;
				min-width: 50px;
				border-radius: 2px;
				border: none;
				outline: none !important;
				margin-left: 10px;
			}

			.table-title .btn:hover,
			.table-title .btn:focus {
				color: #566787;
				background: #f2f2f2;
			}

			.table-title .btn i {
				float: left;
				font-size: 21px;
				margin-right: 5px;
			}

			.table-title .btn span {
				float: left;
				margin-top: 2px;
			}

			table.table tr th,
			table.table tr td {
				border-color: #e9e9e9;
				padding: 12px 15px;
				vertical-align: middle;
			}

			table.table tr th:first-child {
				width: 60px;
			}

			table.table tr th:last-child {
				width: 100px;
			}

			table.table-striped tbody tr:nth-of-type(odd) {
				background-color: #fcfcfc;
			}

			table.table-striped.table-hover tbody tr:hover {
				background: #f5f5f5;
			}

			table.table th i {
				font-size: 13px;
				margin: 0 5px;
				cursor: pointer;
			}

			table.table td:last-child i {
				opacity: 0.9;
				font-size: 22px;
				margin: 0 5px;
			}

			table.table td a {
				font-weight: bold;
				color: #566787;
				display: inline-block;
				text-decoration: none;
			}

			table.table td a:hover {
				color: #2196F3;
			}

			table.table td a.settings {
				color: #2196F3;
			}

			table.table td a.delete {
				color: #F44336;
			}

			table.table td i {
				font-size: 19px;
			}

			table.table .avatar {
				border-radius: 50%;
				vertical-align: middle;
				margin-right: 10px;
			}

			.status {
				font-size: 30px;
				margin: 2px 2px 0 0;
				display: inline-block;
				vertical-align: middle;
				line-height: 10px;
			}

			.text-success {
				color: #10c469;
			}

			.text-info {
				color: #62c9e8;
			}

			.text-warning {
				color: #FFC107;
			}

			.text-danger {
				color: #ff5b5b;
			}

			.pagination {
				float: right;
				margin: 0 0 5px;
			}

			.pagination li a {
				border: none;
				font-size: 13px;
				min-width: 30px;
				min-height: 30px;
				color: #999;
				margin: 0 2px;
				line-height: 30px;
				border-radius: 2px !important;
				text-align: center;
				padding: 0 6px;
			}

			.pagination li a:hover {
				color: #666;
			}

			.pagination li.active a,
			.pagination li.active a.page-link {
				background: #03A9F4;
			}

			.pagination li.active a:hover {
				background: #0397d6;
			}

			.pagination li.disabled i {
				color: #ccc;
			}

			.pagination li i {
				font-size: 16px;
				padding-top: 6px
			}

			.hint-text {
				float: left;
				margin-top: 10px;
				font-size: 13px;
			}
		</style>
		<script>
			$(document).ready(function () {
$('[data-toggle="tooltip"]').tooltip();
});
		</script>
	</head>

	{% block content %}


		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-5">
						<h2>Ajouter
							<b>Billet</b>
						</h2>
					</div>
					<div class="col-sm-7">


						<a href="{{ path('app_login') }}" class="btn btn-secondary">
							<i class="material-icons">&#xE879;</i>
							<span>Logout
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<h2 class="text-center">ㅤㅤㅤㅤ</h2>
					{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

					<div class="form-container">
						<div class="form-group">
							{{ form_label(form.cin) }}
							{{ form_widget(form.cin, {'attr': {'class': 'form-control'}}) }}
							<span style="color:red;">{{ form_errors(form.cin) }}</span>
						</div>

						<div class="form-group">
							{{ form_label(form.type) }}
							{{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
							<span style="color:red;">{{ form_errors(form.type) }}</span>
						</div>

						<div class="form-group">
							{{ form_label(form.email) }}
							{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
							<span style="color:red;">{{ form_errors(form.email) }}</span>
						</div>

						<div class="form-group">
							{{ form_label(form.place) }}
							{{ form_widget(form.place, {'attr': {'class': 'form-control'}}) }}
							<span style="color:red;">{{ form_errors(form.place) }}</span>
						</div>

						<div class="form-group">
							{{ form_label(form.user) }}
							{{ form_widget(form.user, {'attr': {'class': 'form-control datepicker'}}) }}
							<span style="color:red;">{{ form_errors(form.user) }}</span>
						</div>


						<button type="submit" class="btn btn-primary">Ajouter</button>
					</div>

					{{ form_end(form) }}
				</div>
			</div>
		</div>


	{% endblock %}
</html></html>
