{# search.html.twig #}
{% extends 'baseBack.html.twig' %}

{% block title %}Search Results{% endblock %}

{% block content %}
    <div class="container">
        <h2>Search Results for "{{ searchTerm }}"</h2>
        {% if evenements is not empty %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for evenement in evenements %}
                        <tr>
                            <td>{{ evenement.id }}</td>
                            <td>{{ evenement.nomevent }}</td>
                           
                            <td>
                                <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}" class="btn btn-info">Afficher</a>
                                <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}" class="btn btn-primary">Modifier</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No results found.</p>
        {% endif %}
        <a href="{{ path('app_evenement_index') }}" class="btn btn-secondary">Retour à la liste </a>
    </div>
{% endblock %}
