{# templates/user/authentification.html.twig #}
{# Add autocomplete attributes to the form fields #}
{{ form_start(form) }}
	<div class="mb-3"> {{ form_label(form.username, 'Nom d\'utilisateur :') }}
    {{ form_widget(form.username, {'attr': {'class': 'form-control', 'autocomplete': 'username'}}) }}
</div>
<div class="mb-3">
    {{ form_label(form.password, 'Mot de passe :') }}
    {{ form_widget(form.password, {'attr': {'class': 'form-control', 'autocomplete': 'current-password'}}) }}
</div>
<div class="mb-3">
    {{ form_widget(form.connect, {'attr': {'class': 'btn btn-primary'}}) }}
</div>
{{ form_end(form) }}
